@page
@model Wordify.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>

<h4>User Table</h4>
<form method="post" asp-page-handler="Delete">
    <table>
        <thead>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td><button type="submit" asp-page-handler="Delete" asp-route-id="@user.Id">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</form>


<h4>Notes Table</h4>
<form method="post" asp-page-handler="DeleteNote">
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Note note in Model.Notes)
            {
                <tr>
                    <td>@note.Title</td>
                    <td><button type="submit" asp-page-handler="Note" asp-route-id="@note.ID">See Note</button></td>
                </tr>
            }
        </tbody>
    </table>
</form>

@if (Model.Note != null)
{
    <h3>Your Note</h3>

    <form method="post" asp-page-handler="Delete">
        <img src="~/test.PNG" />
        <input type="text" value="@Model.Note.Title" asp-for="@Model.Note.Title" />
        <textarea rows="10" cols="50" asp-for="@Model.Text">@Model.Text</textarea>
        <button type="submit" asp-page-handler="DeleteNote" asp-route-id="@Model.Note.ID">Delete</button>
    </form>
}


